<h1>Beer</h1>

<h2>Beers that are not empty</h2>

<ul>
  {{#each beers}}
    {{#unless empty}}
      {{> beers/beer-block empty=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Beers that are empty</h2>

<ul>
  {{#each beers}}
    {{#if empty}}
      {{> beers/beer-block empty=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Beer</h2>
<form class="create-form">

  <div class="form-group">
    <label for="beer">Beer Name:</label>
    <input type="text" id="beer" name="name">
  </div>

  <div class="form-group">
    <label for="empty">Empty?</label><br>
    <input type="radio" name="empty" value="1" checked> Empty!<br>
    <input type="radio" name="empty" value="0"> Full
  </div>

  <button type="submit">Add Beer</button>
</form>
