<h1>Brews Lee</h1>

<h3>Bottoms up!</h3>

<ul>
    {{#each beer}} {{#unless drank}} {{> beers/beer-block drank=false}} {{/unless}} {{/each}}
</ul>

<h2>Drank</h2>
<ul>
    {{#each beer}} {{#if drank}} {{> beers/beer-block drank=true}} {{/if}} {{/each}}
</ul>


<form action="" method="POST" role="form">
    <legend>Add a Brew!</legend>

    <div class="form-group">
        <label for="name">Brew name:</label>
        <input type="text" class="form-control" id="name" placeholder="Input field">
    </div>
    <button type="submit" id="createBeer" class="btn btn-primary">Submit</button>
</form>